
.profile-home {
    text-align: center;
    font-weight: lighter;
    padding: 10% 0;

    &--tags {
        list-style: none;

        li {
            display: inline-block;
            padding: 10px;
            font-size: 40px;
            color: lighten(#000, 80%);
            font-weight: 400;
            a {
                color: inherit;
                cursor: pointer;
            }
        }

        &__color {

            &0 {
                color: #f44336 !important;
            }

            &1 {
                color: #9C27B0 !important;
            }

            &2 {
                color: #2196F3 !important;
            }

            &3 {
                color: #009688 !important;
            }

            &4 {
                color: #795548 !important;
            }

            &5 {
                color: #FFC107 !important;
            }
        }
    }
}
