
.header {
    &--title {
        border-bottom: 4px solid darken($bg-indigo, 20%);
        padding: 10px 40px;
        background: $bg-indigo;
        h1{
            margin: 0;
            font-weight: 500;
            color: $col-text-indigo;
        }
        a{
            color: $col-text-header;
            text-decoration: none;
        }
    }
}
